.App {
  text-align: center;
}

/* .app_logo_bg {
  height: 40vmin;
  pointer-events: none;
}

.app_logo_fg {
  position: absolute;
  z-index:1;
  bottom: 0;
  right:0;
  height: 40vmin;
} */

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.parallax-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 7em;
  background: url(./logo_bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;

  transform-style: preserve-3d;
}
.inner-element {
  transform: translateZ(60px);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}